# Loading from Excel after creating a volume folder

Remember that to create a volume folder to store files and get their file path, we should follow the following instructions:
1. Go to Catalog>Add data (+) or in the sidebar go to Data Engineering>Data Ingestion> Files> Upload files to a volume> Create volume inside your catalog:
![](path)

In [0]:
%pip install openpyxl
import pandas as pd
import openpyxl

Requirement already satisfied: openpyxl in /local_disk0/.ephemeral_nfs/envs/pythonEnv-d7e6d2c6-b9df-4191-bcfe-caa0dccc1a02/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /local_disk0/.ephemeral_nfs/envs/pythonEnv-d7e6d2c6-b9df-4191-bcfe-caa0dccc1a02/lib/python3.11/site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel using %restart_python or dbutils.library.restartPython() to use updated packages.

In [0]:
df = pd.read_excel("/Volumes/workspace/test_schema/test_volume_folder/ufo_sighting_data.xlsx", engine='openpyxl')
sdf = spark.createDataFrame(df)

In [0]:
sdf.show()

+----------------+--------------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+----------+------------+
|       Date_time|                city|state/province|country|UFO_shape|length_of_encounter_seconds|described_duration_of_encounter|         description|date_documented|  latitude|   longitude|
+----------------+--------------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+----------+------------+
|10/10/1949 20:30|          san marcos|            tx|     us| cylinder|                       2700|                     45 minutes|This event took p...|      4/27/2004|29.8830556| -97.9411111|
|10/10/1949 21:00|        lackland afb|            tx|   NULL|    light|                       7200|                        1-2 hrs|1949 Lackland AFB...|     12/16/2005|  29.38421|  -98.581082|
|10/10/1955 17:00|chester (uk/england)|          NULL|     gb|   circle|                         20|                     20 seconds|Green/Orange circ...|      1/21/2008|      53.2|   -2.916667|
|10/10/1956 21:00|                edna|            tx|     us|   circle|                         20|                       1/2 hour|My older brother ...|      1/17/2004|28.9783333| -96.6458333|
|10/10/1960 20:00|             kaneohe|            hi|     us|    light|                        900|                     15 minutes|AS a Marine 1st L...|      1/22/2004|21.4180556|-157.8036111|
|10/10/1961 19:00|             bristol|            tn|     us|   sphere|                        300|                      5 minutes|My father is now ...|      4/27/2007|    36.595| -82.1888889|
|10/10/1965 21:00|  penarth (uk/wales)|          NULL|     gb|   circle|                        180|                   about 3 mins|penarth uk  circl...|      2/14/2006| 51.434722|       -3.18|
|10/10/1965 23:45|             norwalk|            ct|     us|     disk|                       1200|                     20 minutes|A bright orange c...|      10/2/1999|   41.1175| -73.4083333|
|10/10/1966 20:00|           pell city|            al|     us|     disk|                        180|                     3  minutes|Strobe Lighted di...|      3/19/2009|33.5861111| -86.2861111|
|10/10/1966 21:00|            live oak|            fl|     us|     disk|                        120|                several minutes|Saucer zaps energ...|      5/11/2005|30.2947222| -82.9841667|
|10/10/1968 13:00|           hawthorne|            ca|     us|   circle|                        300|                         5 min.|ROUND &#44 ORANGE...|     10/31/2003|33.9163889|-118.3516667|
|10/10/1968 19:00|             brevard|            nc|     us| fireball|                        180|                      3 minutes|silent red /orang...|      6/12/2008|35.2333333| -82.7344444|
|10/10/1970 16:00|            bellmore|            ny|     us|     disk|                       1800|                        30 min.|silver disc seen ...|      5/11/2000|40.6686111|    -73.5275|
|10/10/1970 19:00|          manchester|            ky|     us|  unknown|                        180|                      3 minutes|Slow moving&#44 s...|      2/14/2008|37.1536111| -83.7619444|
|10/10/1971 21:00|           lexington|            nc|     us|     oval|                         30|                     30 seconds|green oval shaped...|      2/14/2010|35.8238889| -80.2536111|
|10/10/1972 19:00|       harlan county|            ky|     us|   circle|                       1200|                      20minutes|On october 10&#44...|      9/15/2005|36.8430556| -83.3219444|
|10/10/1972 22:30|     west bloomfield|            mi|     us|     disk|                        120|                      2 minutes|The UFO was so cl...|      8/14/2007|42.5377778| -83.2330556|
|10/10/1973 19:00|             niantic|            ct|     us|     disk|                       1800|                      20-30 min|Oh&#44 what a nig...|      9/24/2003|41.3252778| -72.1936111|
|10/10/1973 23:00|         bermuda nas|          NULL|   NULL|    light|                         20|                        20 sec.|saw fast moving b...|      1/11/2002| 32.364167|  -64.678611|
|10/10/1974 19:30|              hudson|            ma|     us|    other|                       2700|                     45 minutes|Not sure of the e...|      8/10/1999|42.3916667| -71.5666667|
+----------------+--------------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+----------+------------+
only showing top 20 rows

In [0]:
from pyspark.sql.types import StructType, StructField, StringType, FloatType, DoubleType
import pandas as pd

schema = StructType([
    StructField("Date_time", StringType(), True),
    StructField("city", StringType(), True),
    StructField("state/province", StringType(), True),
    StructField("country", StringType(), True),
    StructField("UFO_shape", StringType(), True),
    StructField("length_of_encounter_seconds", FloatType(), True),
    StructField("described_duration_of_encounter", StringType(), True),
    StructField("description", StringType(), True),
    StructField("date_documented", StringType(), True),
    StructField("latitude", DoubleType(), True),
    StructField("longitude", DoubleType(), True)
])

# Read CSV with proper handling of mixed types
df_csv = pd.read_csv("/Volumes/workspace/test_schema/test_volume_folder/ufo_sighting_data.csv", 
                     low_memory=False, 
                     dtype=str)  # Read everything as string first

# Convert problematic columns with error handling
df_csv['length_of_encounter_seconds'] = pd.to_numeric(df_csv['length_of_encounter_seconds'], errors='coerce')
df_csv['latitude'] = pd.to_numeric(df_csv['latitude'], errors='coerce')
df_csv['longitude'] = pd.to_numeric(df_csv['longitude'], errors='coerce')

# Handle NaN values that cause Arrow conversion issues
df_csv = df_csv.fillna({
    'length_of_encounter_seconds': 0.0,
    'latitude': 0.0,
    'longitude': 0.0
})

# Create Spark DataFrame
sdf_csv = spark.createDataFrame(df_csv, schema=schema)
sdf_csv.show()

+----------------+--------------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+----------+------------+
|       Date_time|                city|state/province|country|UFO_shape|length_of_encounter_seconds|described_duration_of_encounter|         description|date_documented|  latitude|   longitude|
+----------------+--------------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+----------+------------+
|10/10/1949 20:30|          san marcos|            tx|     us| cylinder|                     2700.0|                     45 minutes|This event took p...|      4/27/2004|29.8830556| -97.9411111|
|10/10/1949 21:00|        lackland afb|            tx|   NULL|    light|                     7200.0|                        1-2 hrs|1949 Lackland AFB...|     12/16/2005|  29.38421|  -98.581082|
|10/10/1955 17:00|chester (uk/england)|          NULL|     gb|   circle|                       20.0|                     20 seconds|Green/Orange circ...|      1/21/2008|      53.2|   -2.916667|
|10/10/1956 21:00|                edna|            tx|     us|   circle|                       20.0|                       1/2 hour|My older brother ...|      1/17/2004|28.9783333| -96.6458333|
|10/10/1960 20:00|             kaneohe|            hi|     us|    light|                      900.0|                     15 minutes|AS a Marine 1st L...|      1/22/2004|21.4180556|-157.8036111|
|10/10/1961 19:00|             bristol|            tn|     us|   sphere|                      300.0|                      5 minutes|My father is now ...|      4/27/2007|    36.595| -82.1888889|
|10/10/1965 21:00|  penarth (uk/wales)|          NULL|     gb|   circle|                      180.0|                   about 3 mins|penarth uk  circl...|      2/14/2006| 51.434722|       -3.18|
|10/10/1965 23:45|             norwalk|            ct|     us|     disk|                     1200.0|                     20 minutes|A bright orange c...|      10/2/1999|   41.1175| -73.4083333|
|10/10/1966 20:00|           pell city|            al|     us|     disk|                      180.0|                     3  minutes|Strobe Lighted di...|      3/19/2009|33.5861111| -86.2861111|
|10/10/1966 21:00|            live oak|            fl|     us|     disk|                      120.0|                several minutes|Saucer zaps energ...|      5/11/2005|30.2947222| -82.9841667|
|10/10/1968 13:00|           hawthorne|            ca|     us|   circle|                      300.0|                         5 min.|ROUND &#44 ORANGE...|     10/31/2003|33.9163889|-118.3516667|
|10/10/1968 19:00|             brevard|            nc|     us| fireball|                      180.0|                      3 minutes|silent red /orang...|      6/12/2008|35.2333333| -82.7344444|
|10/10/1970 16:00|            bellmore|            ny|     us|     disk|                     1800.0|                        30 min.|silver disc seen ...|      5/11/2000|40.6686111|    -73.5275|
|10/10/1970 19:00|          manchester|            ky|     us|  unknown|                      180.0|                      3 minutes|Slow moving&#44 s...|      2/14/2008|37.1536111| -83.7619444|
|10/10/1971 21:00|           lexington|            nc|     us|     oval|                       30.0|                     30 seconds|green oval shaped...|      2/14/2010|35.8238889| -80.2536111|
|10/10/1972 19:00|       harlan county|            ky|     us|   circle|                     1200.0|                      20minutes|On october 10&#44...|      9/15/2005|36.8430556| -83.3219444|
|10/10/1972 22:30|     west bloomfield|            mi|     us|     disk|                      120.0|                      2 minutes|The UFO was so cl...|      8/14/2007|42.5377778| -83.2330556|
|10/10/1973 19:00|             niantic|            ct|     us|     disk|                     1800.0|                      20-30 min|Oh&#44 what a nig...|      9/24/2003|41.3252778| -72.1936111|
|10/10/1973 23:00|         bermuda nas|          NULL|   NULL|    light|                       20.0|                        20 sec.|saw fast moving b...|      1/11/2002| 32.364167|  -64.678611|
|10/10/1974 19:30|              hudson|            ma|     us|    other|                     2700.0|                     45 minutes|Not sure of the e...|      8/10/1999|42.3916667| -71.5666667|
+----------------+--------------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+----------+------------+
only showing top 20 rows

In [0]:
sdf_us = sdf.filter(sdf['country'] == 'us')
sdf_us.show()

+----------------+----------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+----------+------------+
|       Date_time|            city|state/province|country|UFO_shape|length_of_encounter_seconds|described_duration_of_encounter|         description|date_documented|  latitude|   longitude|
+----------------+----------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+----------+------------+
|10/10/1949 20:30|      san marcos|            tx|     us| cylinder|                       2700|                     45 minutes|This event took p...|      4/27/2004|29.8830556| -97.9411111|
|10/10/1956 21:00|            edna|            tx|     us|   circle|                         20|                       1/2 hour|My older brother ...|      1/17/2004|28.9783333| -96.6458333|
|10/10/1960 20:00|         kaneohe|            hi|     us|    light|                        900|                     15 minutes|AS a Marine 1st L...|      1/22/2004|21.4180556|-157.8036111|
|10/10/1961 19:00|         bristol|            tn|     us|   sphere|                        300|                      5 minutes|My father is now ...|      4/27/2007|    36.595| -82.1888889|
|10/10/1965 23:45|         norwalk|            ct|     us|     disk|                       1200|                     20 minutes|A bright orange c...|      10/2/1999|   41.1175| -73.4083333|
|10/10/1966 20:00|       pell city|            al|     us|     disk|                        180|                     3  minutes|Strobe Lighted di...|      3/19/2009|33.5861111| -86.2861111|
|10/10/1966 21:00|        live oak|            fl|     us|     disk|                        120|                several minutes|Saucer zaps energ...|      5/11/2005|30.2947222| -82.9841667|
|10/10/1968 13:00|       hawthorne|            ca|     us|   circle|                        300|                         5 min.|ROUND &#44 ORANGE...|     10/31/2003|33.9163889|-118.3516667|
|10/10/1968 19:00|         brevard|            nc|     us| fireball|                        180|                      3 minutes|silent red /orang...|      6/12/2008|35.2333333| -82.7344444|
|10/10/1970 16:00|        bellmore|            ny|     us|     disk|                       1800|                        30 min.|silver disc seen ...|      5/11/2000|40.6686111|    -73.5275|
|10/10/1970 19:00|      manchester|            ky|     us|  unknown|                        180|                      3 minutes|Slow moving&#44 s...|      2/14/2008|37.1536111| -83.7619444|
|10/10/1971 21:00|       lexington|            nc|     us|     oval|                         30|                     30 seconds|green oval shaped...|      2/14/2010|35.8238889| -80.2536111|
|10/10/1972 19:00|   harlan county|            ky|     us|   circle|                       1200|                      20minutes|On october 10&#44...|      9/15/2005|36.8430556| -83.3219444|
|10/10/1972 22:30| west bloomfield|            mi|     us|     disk|                        120|                      2 minutes|The UFO was so cl...|      8/14/2007|42.5377778| -83.2330556|
|10/10/1973 19:00|         niantic|            ct|     us|     disk|                       1800|                      20-30 min|Oh&#44 what a nig...|      9/24/2003|41.3252778| -72.1936111|
|10/10/1974 19:30|          hudson|            ma|     us|    other|                       2700|                     45 minutes|Not sure of the e...|      8/10/1999|42.3916667| -71.5666667|
|10/10/1974 23:00|          hudson|            ks|     us|    light|                       1200|                      one hour?|The light chased us.|      7/25/2004|38.1055556| -98.6597222|
|10/10/1975 17:00|north charleston|            sc|     us|    light|                        360|                    5-6 minutes|Several Flashing ...|      2/14/2008|32.8544444|     -79.975|
+----------------+----------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+----------+------------+

# Save the US dataframe into a delta table

In [0]:
sdf_us.write.format("delta").mode("overwrite").saveAsTable("test_schema.ufo_sighting_data")

# Filter original dataset for Great Britain dataset

In [0]:
# Filter from sdf only when country = 'gb'
sdf_gb = sdf.filter(sdf['country'] == 'gb')
sdf_gb.show()

+----------------+--------------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+---------+---------+
|       Date_time|                city|state/province|country|UFO_shape|length_of_encounter_seconds|described_duration_of_encounter|         description|date_documented| latitude|longitude|
+----------------+--------------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+---------+---------+
|10/10/1955 17:00|chester (uk/england)|          NULL|     gb|   circle|                         20|                     20 seconds|Green/Orange circ...|      1/21/2008|     53.2|-2.916667|
|10/10/1965 21:00|  penarth (uk/wales)|          NULL|     gb|   circle|                        180|                   about 3 mins|penarth uk  circl...|      2/14/2006|51.434722|    -3.18|
|10/10/1974 21:30|  cardiff (uk/wales)|          NULL|     gb|     disk|                       1200|                     20 minutes|back in 1974 I wa...|       2/1/2007|     51.5|     -3.2|
+----------------+--------------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+---------+---------+

In [0]:
# append sdf_gb to the delta table
sdf_gb.write.format("delta").mode("append").saveAsTable("test_schema.ufo_sighting_data")

# Save other countries

In [0]:
# from sdf add the all other different than us and gb into the delta table
sdf_others = sdf_csv.filter((sdf_csv['country'] != 'us') & (sdf_csv['country'] != 'gb'))
sdf_others.show()

+----------------+--------------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+----------+-----------+
|       Date_time|                city|state/province|country|UFO_shape|length_of_encounter_seconds|described_duration_of_encounter|         description|date_documented|  latitude|  longitude|
+----------------+--------------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+----------+-----------+
|10/10/1994 23:00|toronto (greater ...|            on|     ca|   sphere|                     3600.0|                        ~1 hour|  Large rusty sphere|       7/3/2013| 43.666667| -79.416667|
|10/10/1998 22:30|st. john&#39s (ca...|            nf|     ca|      egg|                     7200.0|                        2 hours|Started off as 3 ...|      12/2/2000|     47.55| -52.666667|
|10/10/2000 07:30|   victoria (canada)|            bc|     ca| cylinder|                       30.0|                      30seconds|Smooth Shiny Cyli...|      12/2/2000| 46.216667| -63.483333|
|10/10/2001 04:33|sydney (nsw&#44 a...|          NULL|     au|formation|                      180.0|                      3 minutes|formation and impact|     11/20/2001|-33.861481| 151.205475|
|10/10/2001 20:10|  vancouver (canada)|            bc|     ca|    other|                      300.0|                     +5 minutes|I observed an gre...|      5/12/2011|     49.25|-123.133333|
|10/10/2002 04:00|adelaide (pt. wak...|          NULL|     au|   circle|                      600.0|                        10 mins|  one light became 3|     10/28/2002|-34.928661| 138.598633|
|10/10/2002 19:45|   victoria (canada)|            bc|     ca|  unknown|                      120.0|               2 minutes approx|bright white ligh...|     10/15/2002| 46.216667| -63.483333|
|10/10/2004 03:50|portage la prairi...|            mb|     ca| changing|                     1200.0|                      20minutes|Series of Green B...|     10/27/2004| 49.966667|      -98.3|
|10/10/2004 09:45|      nobel (canada)|            on|     ca|  unknown|                      300.0|                           5:00| Floating Red Object|     10/27/2004| 45.416667|      -80.1|
|10/10/2008 02:00|     london (canada)|            on|     ca|    other|                      120.0|                  2 min. approx|C shape with a T ...|       6/9/2009| 42.983333|     -81.25|
|10/10/2011 20:00|   hamilton (canada)|            on|     ca|    flash|                        4.0|                    2-4 seconds|Strange flash in ...|     10/19/2011|     43.25| -79.833333|
|10/10/2013 17:10|     ottawa (canada)|            on|     ca|    light|                       10.0|                     10 seconds|FATHER: My name i...|     10/14/2013| 45.416667|      -75.7|
|10/10/2013 19:15|harvey station (c...|            nb|     ca|    light|                      120.0|                      2 minutes|Slow moving brigh...|     10/23/2013| 45.716667|      -67.0|
|10/11/1986 20:30|alice springs  (n...|          NULL|     au|     NULL|                       20.0|                     20 seconds|Being  of light r...|      1/19/2005|-23.697479| 133.883621|
|10/11/1999 18:00|parry sound (near...|            on|     ca|     disk|                        6.0|                      6 seconds|A silvery disk sh...|      4/22/2003| 45.333333| -80.033333|
|10/11/2009 04:45|st. john&#39s (ca...|            nf|     ca|    flash|                        5.0|                     >5 seconds|Bending streak of...|     12/12/2009|     47.55| -52.666667|
|10/11/2013 03:00|   hamilton (canada)|            on|     ca| cylinder|                     3600.0|                      0300:0400|Enlarged still fr...|     10/23/2013|     43.25| -79.833333|
|10/11/2013 16:01|  pickering (canada)|            on|     ca|   circle|                      300.0|                      5 minutes|Glowing blue sphe...|      1/30/2014| 43.866667| -79.033333|
|10/11/2013 22:18|    windsor (canada)|            on|     ca|    light|                      300.0|                    3-5 minutes|5 orange lights s...|     10/14/2013| 45.583333|      -72.0|
| 10/1/1966 19:00|edmonton (30 mi. ...|            ab|     ca|  diamond|                      300.0|                          5 min|Unusual ights in ...|       8/5/2001|     53.55|     -113.5|
+----------------+--------------------+--------------+-------+---------+---------------------------+-------------------------------+--------------------+---------------+----------+-----------+
only showing top 20 rows

In [0]:
# Get the schema of the existing table
existing_table_schema = spark.table("test_schema.ufo_sighting_data").schema

# Cast the DataFrame to match the schema of the existing table
sdf_others_casted = sdf_others.select(
    [sdf_others[col.name].cast(col.dataType) for col in existing_table_schema]
)

# Write the DataFrame to the Delta table
sdf_others_casted.write.format("delta").mode("append").saveAsTable("test_schema.ufo_sighting_data")